{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% include 'favicon.html' %}

        <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">

        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}" >
    </head>
    <body>
        <main>
            {% include "header.html" %}
            {% if user.is_authenticated %}  
            {% endif %}
            {% block content %}
            {% endblock content %}
            {% include "footer.html" %}    
        </main>
        <script src="{% static 'dist/js' %}/kute/polyfill.min.js"></script>
        <script src="{% static 'dist/js' %}/kute/kute.min.js"></script>
        {% block js %}
        {% endblock js %}
    </body>
</html>